*{
    margin: 0;
    padding: 0; 
    font-family: 'Rajdhani', sans-serif;
}
.nav{
    background-color: rgb(164, 192, 192);
    padding: 1rem;
    display: flex;
    position: relative;
}
.para{
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    right: 3rem;
    top: 1.3rem;
    position: absolute;
    background-color: rgb(65, 128, 221);
    border-radius: 5px;
    width: 6rem;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 9px 1px rgba(52, 104, 182,0.6);
}
.para:hover{
    box-shadow: 0px 0px 9px 1px rgba(52, 104, 182,0.8);
}
.homeHead{
    color: white;
    margin-left: 2rem;
    font-size: 2.5rem;
    /* text-decoration: underline; */
}
.homeHead span{
    color: rgb(65, 128, 221);
}
.mainPage{
    height: 35.4rem;
    display: flex;
    column-gap: 3rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.mainPage img{
    height: 35rem;
}
.mainHead{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.7rem;
    border: 3px dotted rgba(82, 81, 81,0.3);
    border-radius: 5px;
    box-shadow: 0px 0px 9px 1px rgba(82, 81, 81,0.3);
    padding: 1rem;
    margin-bottom: 2rem;
}
.mainHead h1{
    font-weight:bolder;
    font-size: 3rem;
    text-align: center;
}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.App button{
    width: 8rem;
    padding: 4px;
    box-shadow: 0 0 9px 1px rgba(82, 81, 81,0.3);
    border: none;
    cursor: pointer;
}
.App button:hover{
    box-shadow: 0 0 9px 1px rgba(82, 81, 81,0.6);
}
.showReport{
    display: flex;
}

@media screen and (max-width: 700){
    .mainHead{
        height: 17rem;
        width: 20rem;
    }
    .mainHead h1{
        font-size: 2rem;
    }
    .App button{
        width: 4rem;
        padding: 2px;
        box-shadow: 0 0 9px 1px rgba(82, 81, 81,0.3);
        border: none;
    }
}